* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Gill Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: gray;
  }
  
  #wrapper {
    width: 35%;
    margin: 0 auto;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    padding: 50px;
    color: #fff;
    background: black;
  }
  
  #wrapper h1 {
    text-transform: uppercase;
    margin-bottom: 5%;
  }
  
  #single-task {
    width: 353px;
    padding: 15px;
  }
  
  button {
    background: purple;
    border: none;
    color: #fff;
    padding: 13px 18px;
    font-size: 18px;
  }
  
  .task {
    margin-bottom: 5px;
    margin-top: 20px;
    background: #fff;
    color: #000;
    list-style: none;
    padding: 12px 16px;
    line-height: 35px;
  }
  
  .task input[type="checkbox"] {
    display: none;
  }
  
  .task .delete {
    color: red;
    cursor: pointer;
    font-size: 30px;
    margin: 0;
    float: right;
  }
  
  @media screen and (max-width: 1024px) {
    #wrapper {
      width: 80%;
      padding: 30px;
    }
  
    #single-task {
      width: 80%;
    }
  
    button {
      font-size: 18px;
      padding-inline: auto;
    }
  }
  
  @media screen and (max-width: 768px) {
  
    #wrapper {
      width: 60%;
      padding: 20px;
    }
  
    #single-task {
      width: 70%;
    }
  
    button {
      font-size: 16px;
      padding-inline: auto;
    }
  }